@font-face {
  font-family: 'Futurot';
  src: url('/fonts/futurot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.l4d2-text {
  font-family: 'Futurot', 'Helvetica';
}


input.checkbox.large[type='checkbox'] {
    transform: scale(1.25);
    /* vertical-align: middle; */
    margin-right: 0.1em;
}
input.checkbox.extra-large[type='checkbox'] {
    transform: scale(2);
}
td, th {
    & input.checkbox.large[type='checkbox'] {
        vertical-align: middle;
    }
}
label.checkbox.large {
    left: 25px;
    transform: scale(1.25);
}


.row td {
    vertical-align: middle;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.panel-block[data-tooltip], .icon-text[data-tooltip] {
    border-bottom: none !important;
}