/* input.checkbox.large[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;

    font-size: inherit;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #555;
    position: relative;
}
input.checkbox.large[type='checkbox']:checked {
    background-color: var(--bulma-primary);
}
input.checkbox.large[type='checkbox']:checked:after {
    content: "✓";
} */
input.checkbox.large[type='checkbox'] {
    transform: scale(1.25);
    /* vertical-align: middle; */
    margin-right: 0.1em;
}
input.checkbox.extra-large[type='checkbox'] {
    transform: scale(2);
}
td, th {
    & input.checkbox.large[type='checkbox'] {
        vertical-align: middle;
    }
}
label.checkbox.large {
    left: 25px;
    transform: scale(1.25);
}


.row td {
    vertical-align: middle;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}